@import '../../../../color';
@import '../../../../devices';


// Variables
$nav-bar-height: 80px;
$nav-bar-side-padding: 20px;

// Main
.main {
    overflow: hidden;
    display: block;
    padding-left: $nav-bar-side-padding;
    padding-right: $nav-bar-side-padding;
}

// Navigation
.top-nav-left, .top-nav-right {
    float: left;
    height: $nav-bar-height;

    // Centering contents vertically
    display: flex;
    align-items: center;

    // Color
    color: var(--special-text-color);
    ul {
        // No bullet points or margin
        margin: 0px;
        list-style: none;
    }
    li {
        display: inline-block;
        margin-right: 4vw;
    }
}

.top-nav-left {
    float: left;
}

.top-nav-right {
    float: right;
}

.resume-button-container {
    text-align: center;
    a {
        padding: 10px;
        border: 1px solid;
        border-radius: 10px;
        transition: background-color 0.2s;
        &:hover {
            background-color: $emphasized-background-color;
        }
    }
}

@include phone {
    .top-nav-left {
        width: 100%;
        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10vw;
        }
        li {
            display: inline-block;
            margin: 0vw;
        }
    }

    .top-nav-right{
        display: none;
    }
}