<div class="main">
    <div class="top-nav-left">
        <ul>
            <li>
                <a class="hover-effect" routerLink="/about">About</a>
            </li>
            <li>
                <a class="hover-effect" routerLink="/projects">Projects</a>
            </li>
        </ul>
    </div>
    <div class="top-nav-right">
        <ul>
            <li class="resume-button-container"><a href="/assets/Terence Qu CV.pdf" target="_blank">Download Resume</a></li>
        </ul>
    </div>
</div>
