@import "../../../../color";

.main {
    width: 50vw;
    display: block;
    margin: auto;
    padding-top: 4vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    display: inline-block;
    font-size: 2rem;
    margin-right: 2vh;
    width: 40px;
    text-align: left;
}

p {
    display: inline-block;
}

.emphasize {
    color: $emphasized-text-color;
    margin: auto 0.5rem;
}