<div class="main">
    <h1>Terence Qu</h1>
    <h2>Software Engineer | .NET, Angular, React, SQL</h2>
    <ul>
        <li>
            <a class="hover-effect" href="https://github.com/terencequ" target="_blank">
                <i class="fab fa-github"></i>
                <p class="hide-on-phone">Find my projects on GitHub -</p><p class="emphasize hide-on-phone">https://github.com/terencequ</p>
            </a>
        </li>
        <li>
            <a class="hover-effect" href="https://linkedin.com/in/terence-qu/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <p class="hide-on-phone">Follow me on LinkedIn -</p><p class="emphasize hide-on-phone">https://linkedin.com/in/terence-qu/</p>
            </a>
        </li>
        <li>
            <a class="hover-effect" href="mailto:terence@terencequ.com" target="_blank">
                <i class="fas fa-envelope"></i>
                <p class="hide-on-phone">Contact me through email -</p><p class="emphasize hide-on-phone">terence@terencequ.com</p>
            </a>
        </li>
    </ul>

    <div class="resume-button-container">
        <a class="hide-on-desktop hide-on-tablet" href="/assets/TerenceQuResume.pdf" target="_blank">Download Resume</a>
    </div>
    
</div>