@import 'color';

/* You can add global styles to this file, and also import other style files */
body {
    background-color: $background-color;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 1rem auto;
}

h2 {
    font-size: 3.2rem;
    font-weight: 300;
    margin: 2rem auto;
}

h3 {
    font-size: 2.3em;
    font-weight: 600;
    margin: 1.5rem auto;
}

h4 {
    font-size: 2.1rem;
    font-weight: 400;
    margin: 0.5rem auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

h1, h2, h3, h4, p, a {
    color: $text-color;
}